<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}"/>
</head>
<body>
    
    <div class="container">
        <h1>Aisha Forrester</h1> 
        <div class="card">
            <img src="{{ url_for('static', filename='code-pic.webp') }}" alt="Image of a laptop" id="image">
            <p>
                I would love to change the world...but they won't give me the source code!
                I am an aspiring Software Engineer with a passion fueled with the drive to
                create. My hobbies include watching animes, reading horror fiction and delving into the
                psychology of human society. My favorite songs include Novacaine by Shiloh Dynasty and
                Luther by Kendrick Lamar ft Sza. My path, I hope, would head towards becoming the 
                founder of a Software-driven business that cultivates and enrichen an environment best
                suited for STEM women. 
            </p>
        </div>  
    </div>
     
</body>
</html>